.homepage {
  width: 100%;
  height: auto;
}
/** Statistics **/

.homepage .static-frame {
  width: 100%;
  height: 236px;
  background: #343434;
}
.homepage .static-frame .info {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homepage .static-frame .info .static-box {
  width: 200px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homepage .static-frame .info .static-box .static-num {
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  color: #d7b686;
}
.homepage .static-frame .info .static-box .static-text {
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #d7b586;
}
/** Popular Dishes **/
.homepage .popular-dishes-frame {
  width: 100%;
  height: 580px;
  display: flex;
  background: #f8f8ff;
}
.homepage .popular-dishes-frame .popular-section {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage .popular-dishes-frame .popular-section .category-title {
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000;
}
.homepage .popular-dishes-frame .popular-section .cards-frame {
  width: 100%;
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-dishes-frame .cards-frame .card {
  min-height: 430px;
  min-width: 300px;
  cursor: pointer;
}

.homepage .popular-dishes-frame .cards-frame .card .card-cover {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0) 200px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 300px);
}
.homepage .popular-dishes-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** New  Dishes **/
.homepage .new-products-frame {
  width: 100%;
  height: 605px;
  background: #f8f8ff;
  display: flex;
}

.homepage .main {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .new-products-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.homepage .new-products-frame .main .cards-frame {
  width: 100%;
  margin: 47px 2px 2px 2px;
  flex-direction: row;
  justify-content: space-between;
}
.homepage .new-products-frame .main .card {
  height: 335px;
  width: 290px;
  cursor: pointer;
}

.homepage .new-products-frame .product-sale {
  position: absolute;
  margin-top: 10px;
  z-index: 100;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #f8f8ff;
}

.homepage .new-products-frame .product-detail {
  width: auto;
  height: 49%;
  display: flex;
  justify-content: center;
  margin-top: -12px;
  border-top: 1px solid;
  border-color: #f8f8ff;
  background-color: #fafbfb;
}
.homepage .new-products-frame .product-detail .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homepage .new-products-frame .product-detail .title {
  width: 65px;
  font-weight: 500;
}

.homepage .new-products-frame .product-detail .price {
  margin-left: 10px;
  width: 20px;
  font-weight: 500;
}

.homepage .new-products-frame .product-detail .divider {
  margin: 0 10px 0 10px;
  width: 2px;
  background-color: #d9d9d9;
}

.homepage .new-products-frame .product-detail .views {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.homepage .new-products-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}
/** ADVERTISEMENT **/
.homepage .ads-restaurant-frame {
  width: 100%;
  height: 693px;
  display: flex;
  overflow: hidden;
  transform: perspective(0px);
  box-shadow: -3px 0px 20px 14px #34343480;
}

.homepage .ads-restaurant-frame .ads-video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215, 215, 255);
  transform: scale(1.5);
  overflow: hidden;
}
/** ACTIVE USERS **/

.homepage .active-users-frame {
  width: 100%;
  display: flex;
  align-items: center;
}

.homepage .active-users-frame .main {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.homepage .active-users-frame .category-title {
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  margin-top: 93px;
  margin-bottom: 43px;
}

.homepage .cards-frame {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .cards-frame .card {
  width: 305px;
  height: 273.514px;
  border-radius: 12px 12px 12px 12px;
}

.homepage .cards-frame .member-nickname {
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-radius: -2px;
  background: #fff;
  margin-top: -11px;
}

.homepage .cards-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}
/** EVENTS **/

.homepage .events-frame {
  width: 100%;
  height: 745px;
  background: #f8f8ff;
  display: flex;
}

.homepage .events-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  padding-top: 20px;
}

.homepage .events-frame .events-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .events-frame .events-main .events-text {
  width: auto;
  height: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .events-frame .events-main .prev-next-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 40px 0 40px 0;
  height: 25px;
}

.homepage .events-frame .dot-frame-pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .events-frame .events-main .events-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .events-info .events-info-frame {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events-frame .events-img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}

.homepage .events-frame .events-desc {
  position: absolute;
  margin-bottom: 7px;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #f8f8ff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.homepage .events-frame .events-desc .events-bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .events-frame .events-desc .events-bott .bott-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .events-frame .bott-left .event-title-speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .event-title-speaker .event-organizator {
  display: flex;
  align-items: center;
}

.homepage .events-frame .event-title-speaker .event-organizator img {
  width: 20px;
  margin-right: 10px;
}

.homepage .events-frame .event-organizator .spec-text-author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .events-frame .bott-left .text-desc {
  margin-top: 10px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .events-frame .bott-left .bott-info {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.homepage .events-frame .bott-info .bott-info-main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .events-frame .bott-info .bott-info-main img {
  margin-right: 10px;
}

.homepage .events-frame .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .events-frame .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #f8f8ff;
  border-radius: 50%;
}

.homepage .events-frame .swiper-pagination-bullet-active {
  background: #343434;
  border-radius: 50%;
}

/**PRODUCTS PAGE**/

/** avatar-big-box **/
.products-page {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f8f8ff;
}
.products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff;
}
.products-page .products .avatar-big-box {
  display: flex;
  flex-direction: row;
  margin-top: 83px;
  width: 100%;
  height: 46px;
}
.products-page .products .avatar-big-box .category-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.products-page .products .avatar-big-box .search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  gap: 10px;
}

.products-page .products .avatar-big-box .search-input-container {
  position: relative;
  width: 360px;
  height: auto;
  margin-right: 24px;
}

.products-page .products .avatar-big-box .search-input {
  width: 100%;
  height: 40px;
  border-radius: 18.5px;
  border: 1px solid #fff;
  background: #fffcfc;
  box-shadow: 0px 4px 4px 0px rgba(212, 212, 212, 0.25);
  padding: 0 100px 0 15px;
  font-size: 15px;
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #4a4a4a;
  outline: none;
  background-color: #d1cdcd;
}

.products-page .products .avatar-big-box .search-input::placeholder {
  color: #4a4a4a;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products-page .products .avatar-big-box .search-adornment {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #343434;
  color: #d7b586;
  border-radius: 18.5px;
  padding: 5px 10px;
  font-size: 15px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  cursor: pointer;
  height: 37px;
}

.products-page .products .avatar-big-box .search-icon {
  font-size: 20px;
}

/** dishes-filter-section **/

.products-page .products .dishes-filter-section {
  margin-top: 65px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.products-page .products .dishes-filter-section .dishes-filter-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
/** list-category-section **/
.products-page .products .list-category-section {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
}
.products-page .products .product-category {
  width: 36px;
  height: 389px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 83px;
  margin-left: 10px;
}
.products-page .products .product-category button {
  transform: rotate(90deg);
  border-radius: 8px;
  width: 71px;
  height: 36px;
  margin-top: 40px;
}
.products-page .products .product-category .category-main {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 389px;

  margin-top: 32px;
  gap: 10px;
  transform: rotate(180deg);
}

/** product-wrapper **/
.products-page .products .product-wrapper {
  margin-left: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.products-page .products .product-wrapper .product-card {
  width: 295px;
  height: 330px;
  margin-top: 40px;
}
.products-page .products .product-wrapper .product-card .product-img {
  border-bottom-left-radius: 36px;
  width: 273px;
  /* height: 340px; */
}
.products-page
  .products
  .product-wrapper
  .product-card
  .product-img
  .product-sale {
  display: flex;
  width: 90px;
  height: 30px;
  border-radius: 25px;
  background: #ff9200;
  box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  margin-left: 19px;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 6px 12px;
}
.products-page .products .product-wrapper .product-card .product-img .shop-btn {
  position: relative;
  top: 166px;
  left: 99px;
  width: 50px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 29px;
  border: 1px solid #e3c08d;
  background: rgba(187, 47, 200, 0.78);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.products-page .products .product-wrapper .product-card:hover .shop-btn {
  opacity: 1;
}

.products-page .products .product-wrapper .product-card:nth-child(1) .shop-btn,
.products-page .products .product-wrapper .product-card:nth-child(8) .shop-btn {
  opacity: 1;
}
.products-page .products .product-wrapper .view-btn {
  box-sizing: border-box;
  margin-top: 119px;
  margin-left: 221px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.view-btn .MuiBadge-root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border-radius: 50%;
  padding: 8px;
}

.products-page .products .product-wrapper .product-card:nth-child(1) .view-btn,
.products-page .products .product-wrapper .product-card:nth-child(8) .view-btn {
  opacity: 1;
}

.products-page .products .product-wrapper .product-card:hover .view-btn {
  opacity: 1;
}

/**product-desc**/
.products-page .products .product-wrapper .product-card .product-desc {
  display: flex;
  flex-direction: row;
}
.products-page
  .products
  .product-wrapper
  .product-card
  .product-desc
  .product-title {
  color: #343434;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.products-page .products .product-wrapper .product-card .product-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.products-page
  .products
  .product-wrapper
  .product-card
  .product-desc
  .price-icon {
  color: #efbf22;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 20px;
}

.products-page .products .product-wrapper .product-card .product-desc div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e3c08d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 5px;
}

/** pagination-section  **/
.products-page .products .pagination-section {
  margin-top: 20px;
}
/** Brands logo**/
.brands-logo {
  width: 100%;
  height: 700px;
  background: #0d1518;
  align-items: center;
  margin-top: 67px;
}
.brands-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  width: 100%;
  height: auto;
  color: #e3c08d;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.brands-logo .brands-container {
  width: 1300px;
  height: 630px;
  margin: 0 auto;
  padding: 50px 20px;
}
.brands-logo .brands-container .brand-item {
  border-radius: 20px;
  background: #0d1518;
  box-shadow: 0px 0px 22px 0px #e4d4d4;
  width: 240.78px;
  height: 350px;
  flex-shrink: 0;
}

.brands-logo .brand-item:nth-child(1) {
  background-image: url("../../public/img/burakgurme.webp");
}
.brands-logo .brand-item:nth-child(2) {
  background-image: url("../../public/img/burakgurme2.webp");
}
.brands-logo .brand-item:nth-child(3) {
  background-image: url("../../public/img/burakgurme3.webp");
}
.brands-logo .brand-item:nth-child(4) {
  background-image: url("../../public/img/burakgurme4.webp");
}
/**adress**/
.address {
  margin-bottom: 100px;
  border-radius: 10%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  width: 100%;
  height: auto;
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
